$bodyFontColor: #1B1C21;
$pageHeader__menuBgColor: #ffffff;
$pageHeader__menuLogoPseudoElementBgColor: #EAEAEA;
$servicesBgColor: #F8F8F8;
$services__titlePseudoElementBgColor: #41F6D7;
$services__checkStatusLinkColor: #000000;
$services__tabLabelCheckedBgColor: #ffffff;
$services__tabLabelCheckedShadowColor: #B8FFEC;
$services__tabLabelHoverShadowColor: #41F6D7;
$brandsBgColor: #f2f2f2;
$brands__titleColor: #7E7E82;
$brands__itemBgColor: #ffffff;
$brands__swiperContainerBgColor: #f2f2f2;
$repairGadgetsBgColor: #f2f2f2;
$repairGadgets__swiperContainerBgColor: #f2f2f2;
$repairGadgets__itemBgColor: #ffffff;
$repairGadgets__itemBorderColor: #EAEAEA;
$pricesBgColor: #f2f2f2;
$prices__titleColor: #7E7E82;
$prices__tableBgColor: #FFFFFF;
$prices__tableHeaderColor: #7E7E82;
$prices__tableHeaderBgColor: #F8F8F8;
$prices__tableDataColor: #1B1C21;
$prices__tableRowBorderColor: #EAEAEA;
$prices__buyButtonColor: #ffffff;
$prices__buyButtonBgColor: #FF3E79;
$prices__offerLinkColor: #1B1C21;
$prices__cardBgColor: #FFFFFF;
$prices__cardTitleColor: #7E7E82;
$prices__cardTextColor: #1B1C21;
$prices__swiperContainerBgColor: #f2f2f2;
$pageFooter__privacyPolicyColor: inherit;
$sidebarColor: #1B1C21;
$sidebarBgColor: #FFFFFF;
$sidebar__popupBackground: rgba(255, 255, 255, 0.9);
$sidebar__menuItemLinkColor: #1B1C21;
$sidebar__menuItemLinkPseudoElementColor: rgba(5, 217, 255, 0.904);
$sidebar__menuItemLinkHoverColor: rgba(98, 235, 212, 0.2);
$sidebar__footerEmailLinkColor: #1B1C21;
$sidebar__footerPhoneLinkColor: #1B1C21;
$sidebar__languageListItemLinkColor: #1B1C21;
$sidebar__languageListItemLinkActiveColor: #7E7E82;
$sidebar__menuItemLinkActiveColor: #7E7E82;
$sidebar__menuItemLinkActivePseudoElementBgColor: #41F6D7;
$call__containerBgColor: #f2f2f2;
$call__popupBackgroundBgColor: rgba(255, 255, 255, 0.8);
$call__formColor: #7E7E82;
$call__formBgColor: #ffffff;
$call__formTitleColor: #1B1C21;
$call__formTitlePseudoElementBgColor: #41F6D7;
$call__formPhoneBorderColor: #EAEAEA;
$call__formSubmitButtonTextBgColor: #FF3E79;
$call__formProcessingPersonalDataLinkColor: #FF3E79;
$call__formPrivacyPolicyLinkColor: #FF3E79;
$feedback__containerBgColor: #f2f2f2;
$feedback__popupBackgroundBgColor: rgba(255, 255, 255, 0.8);
$feedback__formColor: #7E7E82;
$feedback__formBgColor: #ffffff;
$feedback__formTitleColor: #1B1C21;
$feedback__formTitlePseudoElementBgColor: #41F6D7;
$feedback__textInputBorderColor: #EAEAEA;
$feedback__formSubmitButtonTextBgColor: #FF3E79;
$feedback__formSubmitButtonTextColor: #FFFFFF;
$feedback__formPrivacyPolicyLinks: #FF3E79;