.page-header {
  @media (min-width: 1530px) {
    display: none;
  }
}

.page-header__menu {
  display: flex;
  align-items: flex-start;
  padding: 18px 16px;
  background-color: $pageHeader__menuBgColor;
  justify-content: space-between;
}

.page-header__menu-item {
  position: relative;
  margin-right: 10px;
  transition: all 0.3s linear;
  &:hover {
	  transform: scale(1.1);
	  filter: hue-rotate(-135deg);
  }
}

.page-header__menu-icon-groops {
  display: flex;
  justify-content: space-between;
}

.page-header__menu-logo {
  &::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 32px;
    background-color: $pageHeader__menuLogoPseudoElementBgColor;
    position: relative;
    left: 15px;
    top: -15px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &::before {
    @media (min-width: 768px) {
      content: "";
      display: inline-block;
      width: 2px;
      height: 32px;
      background-color: $pageHeader__menuLogoPseudoElementBgColor;
      position: relative;
      left: -15px;
      top: -15px;
    }
  }
}

.page-header__profile-icon {
  &::after {
    @media (min-width: 768px) {
      content: "";
      display: inline-block;
      width: 2px;
      height: 32px;
      background-color: $pageHeader__menuLogoPseudoElementBgColor;
      position: relative;
      left: 25px;
      top: -5px;
    }
  }
}

.page-header__menu-icon-groop-first,
.page-header__menu-icon-groop-second,
.page-header__menu-icon-groop-third {
  display: flex;
  justify-content: space-around;

}

.page-header__menu-icon-groop-first {
  @media (min-width: 768px) {
    width: 200px;
  }
}

.page-header__menu-icon-groop-second {
  display: none;
  margin-right: 40px;

  @media (min-width: 768px) {
    display: flex;
  }
}
