.main {
  background-color: #F8F8F8;
}

.main__title {
  margin: 15px 0;
}

.title {
  font-size: 28px;
  line-height: 40px;
  margin: 24px 0 0 0;
}

.main__title::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.title__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__check-status {
  display: none;

  @media (min-width: 1120px) {
    display: flex;
  }
}

.check-status__item {
  margin-right: 15px;
  transition: all 0.3s linear;
  user-select: none;
}

.check-status__item img {
  margin-left: 10px;
  vertical-align: middle;
}

.check-status__item a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.check-status__item:hover {
  transform: scale(1.1);
  filter: hue-rotate(-135deg);
}

.main__tabs {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 24px;
  user-select: none;

  @media (min-width: 1120px) {
    overflow: hidden;
  }
}

.main__tab {
  display: none;
}

.main__tab-label {
  padding: 8px 10px;
  margin-right: 16px;
  transition: all 0.3s linear;
}

.main__tab:checked+.main__tab-label {
  background: #fff;
  transform: scale(1.1);

  box-shadow: 0 0 0 2px #B8FFEC;
}

.main__tab-text {
  white-space: nowrap;
}

.main__content {
  display: flex;
  flex-flow: column;
  height: auto;
  margin-top: 32px;

  @media (min-width: 768px) {
    flex-flow: row;
  }
}

.main__content-article {
  display: flex;
  flex-flow: column;
  flex-grow: 1;

  @media (min-width: 1120px) {
    height: 200px;
  }
}

.main__content-text {
  padding: 0 16px;
  height: 105px;
  overflow: hidden;
  transition: all 0.2s linear;
}

.main__content-text:not(:nth-child(1)) {
  display: none;
}

.content__read-more {
  display: none;
}

.content__read-more-text {
  width: fit-content;
  margin: 25px;
  user-select: none;
}

.content__read-more-text--closed::before {
  content: url("../img/show-more-open.svg");
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  left: -10px;
  top: 6px;
}

.content__read-more-text--opened::before {
  content: url("../img/show-more-close.svg");
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  left: -10px;
  top: 6px;
}

.content__image-img {
  user-select: none;

  @media (min-width: 768px) {
    min-width: 360px;
  }

  @media (min-width: 1120px) {
    min-width: 531px;
  }
}
