@font-face {
	font-family: "TTLakes";
	src:
		url("fonts/TTLakes-Regular.woff") format("woff");
}

body {
	font-family: "TTLakes", serif;
	font-size: 16px;
	line-height: 18px;
	color: #1B1C21
}

.sidebar {
	width: 320px;
	padding: 24px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	background: #FFFFFF;
	box-shadow:
		-2px 0px 4px rgba(69, 79, 126, 0.02),
		16px 0px 52px rgba(14, 24, 80, 0.2);
}

.sidebar__header {
	display: flex;
	justify-content: space-between;
}

.sidebar__icons-groop {
	display: flex;
}

.sidebar__icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-right: 16px;
	transition: all 0.3s linear;
}

.close-icon {}

.sidebar__header-logo {
	margin-left: 17px;
}

.header-logo {}

.search-icon {
	margin-right: 0;

}

.sidebar__menu {}

.sidebar__menu-list,
.sidebar__language-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar__menu-item {
	position: relative;
}

.sidebar__item-link {
	text-decoration: none;
	display: block;
	margin: 32px 0;
	color: #1B1C21;
	padding: 5px;
	transition: all 0.3s linear;
}

.call-icon {}

.chat-icon {}

.profile-icon {}

.sidebar__footer {
	margin-top: 150px;
}

.sidebar__footer-email {}

.sidebar__footer-phone {
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.6px;
	color: #1B1C21;
}

.sidebar__language-list {
	display: flex;
	margin-top: 40px;
}

.sidebar__language-list-item {
	margin-right: 7px;
}

.sidebar__language-list-item-link {
	text-decoration: none;
	color: #1B1C21;
}

.sidebar__language-list-item-link--active {
	color: #7E7E82;
}

.sidebar__item-link--active {
	color: #7E7E82;
	position: relative;
}

.sidebar__item-link--active::before {
	content: "";
	display: block;
	width: 5px;
	height: 32px;
	background-color: #41F6D7;
	position: absolute;
	left: -24px;
	top: -3px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.sidebar__item-link:hover {
	background: rgba(98, 235, 212, 0.2);
	transform: scale(1.1);
}

.sidebar__item-link::after {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: rgba(5, 217, 255, 0.904);
	position: absolute;
	top: 25px;
	left: 0;
	transition: all 0.7s linear;
	opacity: 0;
}

.sidebar__menu-item:hover .sidebar__item-link::after {
	opacity: 1;
}

.sidebar__icon:hover {
	transform: scale(2.1);
	filter: hue-rotate(-135deg);
}